version: 2.1

executors:
  default:
    docker:
      - image: circleci/openjdk:11.0.2-jdk
        environment:
          PGHOST: 127.0.0.1
          PGUSER: root
      - image: circleci/postgres:9.6.2-alpine
        environment:
          POSTGRES_USER: root
          POSTGRES_DB: lunchmap
    working_directory: ~/repo

jobs:
  compile:
    executor:
      name: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: dependency:go-offline
          command: mvn dependency:go-offline
      - save_cache:
          key: v1-dependencies-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      - run:
          name: compile
          command: mvn compile
      - persist_to_workspace:
          root: target
          paths:
            - .
  test:
    executor:
      name: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: dependency:go-offline
          command: mvn dependency:go-offline
      - save_cache:
          key: v1-dependencies-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      - attach_workspace:
          at: .
      - run:
          name: Wait for db
          command: dockerize -wait tcp://127.0.0.1:5432 -timeout 1m
      - run: 
          name: test
          command: mvn test
      - persist_to_workspace:
          root: target
          paths:
            - .
  package:
    executor:
      name: default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pom.xml" }}
            - v1-dependencies-
      - run:
          name: mvn dependency:go-offline
          command: mvn dependency:go-offline
      - save_cache:
          key: v1-dependencies-{{ checksum "pom.xml" }}
          paths:
            - ~/.m2
      - attach_workspace:
          at: .
      - run:
          name: package
          command: mvn package
      - run:
          name: move artifacts
          command: |
            mkdir artifacts
            cp ./target/*-SNAPSHOT.jar ./artifacts/
      - store_artifacts:
          path: ./artifacts
      - persist_to_workspace:
          root: target
          paths:
            - .
  deploy:
    executor:
      name: default
    steps:
      - attach_workspace:
          at: .
      - run:
          name: start ssh-agent
          command: eval $(ssh-agent -s)
      - run:
          name: set private key
          command: | 
            echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
            mkdir -p ~/.ssh
            chmod 700 ~/.ssh
            ssh-keyscan ${DEPLOY_HOST} >> ~/.ssh/known_hosts
      - run:
          name: Copy jar
          command: scp ./target/*-SNAPSHOT.jar ${DEPLOY_USER}@${DEPLOY_HOST}:~/deploy/deploy.jar
      - run:
          name: restart service
          command: ssh ${DEPLOY_USER}@${DEPLOY_HOST} "sudo service spring-boot stop && \cp -f --no-preserve=mode,ownership ~/deploy/deploy.jar ~/deploy/spring-boot.jar && sudo service spring-boot start && rm ~/deploy/deploy.jar"
workflows:
  build-and-test-and-deploy:
    jobs:
      - compile
      - test:
          requires:
            - compile
      - package:
          requires:
            - test
      - deploy:
          requires:
            - package
          filters:
            branches:
              only:
                - master