@charset "UTF-8";

h1 {
	font-weight: bold;
	font-size: 18pt;
	color: gray;
}

.brn {
	width: 80pt;
	height: 20pt;
}

.wrapper {
	width: 400px;
	height: 258px;
	border:solid 1px #000;
}

.foot_print_label {
	margin-left:20px;
	font-size: 14px;
	}

.area { width: 250px; height:100px;}

.error_message {
  color: #F51414;
  height: 20px;
  font-size: 14px;
}