@charset "UTF-8";

h1 {
	font-weight: bold;
	font-size: 18pt;
	color: gray;
}

.brn {
	width: 80pt;
	height: 20pt;
}

.wrapper {
	width: 400px;
	height: 250px;
	border:solid 1px #000;
}

#comment { font-size:12px; }

.lab { margin-left:20px; }

.area { width: 250px; height:100px;}

.error-message {
  color: #F51414;
  height: 20px;
}