@charset "UTF-8";

input:-webkit-autofill {
	animation-name: onAutoFillStart;
	transition: background-color 50000s ease-in-out 0s, color 50000s ease-in-out 0s;
}

*, *:before, *:after {
	/*box-sizing: border-box;*/
	padding: 0;
	margin: 0;
}

html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	width: 100%;
	/*background-color: #ffffff;*/
	font-family: 'Arial', sans-serif;
	font-size: 62.5%;
}

form {
	width: 500px;
}

.wrap {
	color: #000000;
	/*text-transform: uppercase;*/
	text-align: center;
	font-size: 50px;
	/*position: relative;*/
	/*width: 500px;*/
	height: 100%;
	/*margin: 0 auto;*/
	display: block;
	/*width: 100%;*/
	/*border: solid;*/
	/*border-color: deepskyblue;*/

}

label {
	position: absolute;
	font-size: 16px;
	color: #a0a0a0;
	transition: all 0.25s ease;
	left: 12px;
	top: 39px;
}

label.focus {
	top: -7px;
	left: 5px;
	font-size: 14px;
	color: #000000;
}

input[type="text"], input[type="password"], p {
	/*position: relative;*/
	/*display: block;*/
	width: 100%;
	padding: 15px;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	border: solid;
	border-color: #a0a0a0;
	color: #000;

}

.block {
	display: block;
	position: relative;
	margin-top: 15px;
}

p {
	background-color: #f0f0f0;
}

.item {
	align-self: stretch;
	padding: 2rem 0;
	text-align: center;
}

.item h4 {
	margin: 0 0 20px 0;
	font-weight: normal;
	font-size: 1.8rem;
	color: #666;
}

input[type="checkbox"] {
	position: relative;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 8rem;
	height: calc(8rem / 2);
	background-color: #ddd;
	border-radius: calc(8rem / 2);
	outline: none;
	transition: background 450ms ease;
	box-shadow: 0 0 0 3px #cacaca;
}

input[type="checkbox"]:before, input[type="checkbox"]:after {
	position: absolute;
	display: block;
	content: "";
	border-radius: 100%;
	transition: background 450ms ease, -webkit-transform 450ms ease;
	transition: background 450ms ease, transform 450ms ease;
	transition: background 450ms ease, transform 450ms ease, -webkit-transform 450ms ease;
}

input[type="checkbox"]:before {
	width: calc(8rem / 2);
	height: calc(8rem / 2);
	background-color: #E53935;
}

input[type="checkbox"]:checked:before {
	background-color: #43A047;
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

input[type="checkbox"].conic {
	transition: background 450ms ease, -webkit-transform 450ms ease;
	transition: background 450ms ease, transform 450ms ease;
	transition: background 450ms ease, transform 450ms ease, -webkit-transform 450ms ease;
}

input[type="checkbox"].conic:before {
	/*box-shadow: inset 0 0 0 3px #9f1815;*/
	/*background: conic-gradient(#E53935, #9f1815);*/
	box-shadow: inset 0 0 0 3px #9d9d9d;
	background: conic-gradient(#dddddd, #9d9d9d);
}

input[type="checkbox"].conic:checked:before {
	box-shadow: inset 0 0 0 3px #9f1815;
	background: conic-gradient(#E53935, #9f1815);
	-webkit-transform: translateX(100%) rotate(360deg);
	transform: translateX(100%) rotate(360deg);
}

.btnn {
	position: relative;
	display: block;
	width: 235px;
	margin: 20px auto;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
	color: #000;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transform-style: flat;
	transition: all 250ms ease-out;
	font-size: 15px;
}

.btnn:before, .btnn:after {
	content: "";
	position: absolute;
	z-index: -2;
	transition: all 250ms ease-out;
}

/* Paper effect – slightly raised off background */
.paper {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(128, 128, 128, 0.1) inset;
	border-color: #dedede;
}

/* Raised effect – pushes up on hover */
.paper-raise::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.paper-raise:hover {
	border: 1px solid #fff;
}

.paper-raise:hover:before {
	box-shadow: 0 15px 10px -10px rgba(31, 31, 31, 0.5);
}

.btnnn {
	width: 350px;
}