<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>アカウント情報編集</title>
<script>
	function al() {
	//	alert('test');
	}
</script>
</head>
<body>
<form th:action="@{/member/edit}" method="POST">
	<input type="hidden" th:value="${id}" name="login_id">
    <table align="center">
        <tr>
            <td>ログインID：</td>
            <td><p th:text="${id}"></td>
        </tr>
        <tr>
            <td>パスワード：</td>
            <td><input type="password" id="password" name="password"/></td>
        </tr>
        <tr>
            <td>表示用氏名：</td>
            <td><input type="text" id="nickname" name="nickname" th:value="${nickname}"/></td>
        </tr>
        <tr>
            <td></td>
            <td align="right"><button type="submit" onclick="al()">登録</button></td>
        </tr>
    </table>
</form>
</body>
</html>