<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet"  href="/css/FootPrintCss.css" type="text/css" th:href="@{/css/FootPrintCss.css}">
</head>
<body>
<div class="footprint_modal">
    <h1>あしあと情報 編集</h1>
    <input type="button" class="btn" th:action="@{return}" value="戻る"><br><br>
    <div class="footprint_wrapper">
		<form method="post" th:action="@{update}">
			<p class="footprint_label" th:text="${editPlace_name}"></p> <!--  飲食店名を表示 -->
			<p class="footprint_label" th:text="|あしあと：*{editDatetime}|"></p> <!--  登録日時を表示 -->
			<p class="footprint_label">コメント：</p>
			<div  class="foot_error_message" th:if="${error_message}" th:text="${trueVal}"></div>  <!-- error表示 -->
	        <textarea id="footprint_comment" class="footprint_label" th:text="*{editComment}" name="comment"></textarea>
	        <input type="hidden" name="place_id" th:value="${place_id}">
	        <input type="hidden" name="footprint_id" th:value="${footprint_id}">
			<input type="reset" value="clear">
			<p class="footprint_label">最大200文字まで登録できます</p>
			<br>
			<input type="submit" class="btn" value="登録" />
		</form>
    </div>
</div>
</body>
</html>