<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>footEdit</title>
<script>
function lengthCheckEdit() {
    var comment = document . form_edit . comment_edit . value . length;

    if ( comment > 200 ){
        window . alert( '200文字以内で入力してください' );
        return false;
    }else{
        return true;
    }
}
</script>
<link rel="stylesheet"  href="/css/FootPrintCss.css" type="text/css" th:href="@{/css/FootPrintCss.css}">
</head>
<body>
<div class="footprint">
    <h1>あしあと情報 編集</h1>
	<form method = "post" th:action="@{previous}">
		<input type="submit" class="btn" value="戻る"><br><br>
		<input type="hidden" th:value="${place_id}" name="place_id">
	</form>
    <div class="footprint_wrapper">
		<form method="post" th:action="@{update}" onsubmit="return lengthCheckEdit()" name="form_edit">
			<p class="footprint_label" th:text="${editPlace_name}"></p> <!--  飲食店名を表示 -->
			<p class="footprint_label" th:text="|あしあと：*{editDatetime}|"></p> <!--  登録日時を表示 -->
			<p class="footprint_label">コメント：</p>
	        <textarea id="footprint_comment" class="footprint_label" th:text="*{editComment}" name="comment_edit"></textarea>
	        <input type="hidden" name="place_id" th:value="${place_id}">
	        <input type="hidden" name="footprint_id" th:value="${footprint_id}">
			<input type="reset" value="reset">
			<p class="footprint_label">最大200文字まで登録できます</p>
			<br>
			<input type="submit" class="btn" value="登録" />
		</form>
    </div>
</div>
</body>
</html>