<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/css/login.css}" rel="stylesheet">
<script th:inline="javascript">
window.addEventListener("load", function() {
	var errorMessage = [[${errorMessage}]];
	if(!errorMessage == "") {
		alert(errorMessage);
	}
}, false);

function toRegister() {
	location.href = "/member/register";
}

//送信時チェック
function checkValue() {
	var sendMessage = "";
	if (document.form.login_id.value == "") {
		sendMessage += "ログインIDを入力してください\n";
	}

	if(document.form.password.value == "") {
		sendMessage += "パスワードを入力してください";
	}

	if(sendMessage == "") {
		return true;
	}else {
		alert(sendMessage);
		return false;
	}
}

</script>
</head>
<body>
<form th:action="@{/authenticate}" method="POST" name="form" onSubmit="return checkValue()">
	<h1>食べログ</h1>
	<input type="text" id="login_id" name="login_id" placeholder="Login ID"/>
    <input type="password" id="password" name="password" placeholder="Password"/>
	<button type="submit">Login</button>
	<a href="/member/register">Sign up</a>
</form>



</body>
</html>