<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>map_now place</title>
<style >
h1 {font-weight:bold;}

</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3OYplN1nN_Vl7RkS2-V7yMJrMUkxSm3U&libraries=places"></script>
<script type="text/javascript"  th:inline="javascript">

var map;
var marker = [];
var data = [];
var datalist = /*[[${datalist}]]*/ '';

function initMap(){
	if(!navigator.geolocation) {
    	alert('Geolocation APIに対応していません');
    	return false;
    }

	navigator.geolocation.getCurrentPosition(function(position){
		var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);//現在地
		var opts = {
			zoom:16,
			center:latlng,
		};


		map = new google.maps.Map(document.getElementById("map_sam"), opts);

		//現在地にマーカーを立てる
		var nowPlace = new google.maps.Marker({
			position: latlng,
			title: "現在地",
			map: map
		});

		//開始&ドラッグ操作時に実行
		google.maps.event.addListener(map, 'idle', function(){
			dispLatLng();
		});
	},function(){
		alert('位置情報取得に失敗しました');
	});


}
//ドラッグ操作の設定
function dispLatLng(){
	if(marker.length > 0){
		//マーカー削除
		for (i = 0; i <  marker.length; i++) {
        	marker[i].setMap(null);
        }
        //配列削除
        for (i = 0; i <  marker.length; i++) {
        	marker = [];
        }
    }
	//中心座標取得
	var center = map.getCenter();
	var request = {
		location: center,
		radius:'500',
		query:'restaurant'
	};

	service = new google.maps.places.PlacesService(map);
	service.textSearch(request, callback);

}

//検索結果の処理
function callback(results, status) {
	if (status == google.maps.places.PlacesServiceStatus.OK) {

		for (var i = 0; i < results.length; i++) {
			createMarker(results[i]);
		}
	}
}

//マーカーを表示
function createMarker(place){
	var pos = place.geometry.location;
	var iconCo ='https://maps.google.com/mapfiles/ms/icons/yellow-dot.png';


	//place_idの判定

	if(datalist != null){
		for(var e = 0; e < datalist.length; e++){
			if(place.place_id == datalist[e].place_id){
				iconCo = 'http://maps.google.com/mapfiles/ms/icons/green-dot.png';
				break;
			}else{
				iconCo ='https://maps.google.com/mapfiles/ms/icons/yellow-dot.png';
			}
		}
	}
		//各店のマーカーを定義
	marker.push ( new google.maps.Marker({
		position: place.geometry.location,
		title:place.name,
		url:"/shopinfo/" + place.place_id,//情報ページのurl指定
		map: map,
		icon:iconCo
	}));


	//クリック時urlに移動
	for(var i=0; i < marker.length; i++){
		google.maps.event.addListener(marker[i],'click',function(){
			window.location.href = this.url;
		});
	}

}window.onload = initMap;

</script>
<script>
function toView(to) {
	location.href = "/menu/" + to;
}
</script>

</head>
<body>
<h1>地図</h1>
<button   onclick="toView('')">戻る</button> <!-- メニューにもどる -->
<button   onclick="toView('search')">検索</button><!-- 検索画面へ -->

<div id="map_sam" style="width:100%; height:400px"></div>
</body>
</html>