<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>メンバー一覧</title>
    <link th:href="@{/css/memberManager.css}" rel="stylesheet">

    <!--jquery-->
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <!--datatables-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" />


</head>
<body>
<script th:src="@{/js/memberManager.js}"></script>
<div class="wrap">
<form method="POST" th:action="@{/member/edit_by_manager}" id="form">
    <input type="hidden" id="login_id" name="login_id">
<table border="1" id="table" class="table table-bordered table-hover table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>ニックネーム</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="obj : ${allMembers}" class="data-click">
        <td th:text="${obj.login_id}"></td>
        <td th:text="${obj.nickname}"></td>
    </tr>

    </tbody>
</table>
</form>
<a th:href="@{/menu}" class="btnn paper paper-raise" id="back">Back</a></form>
</div>
</body>
</html>