<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>メンバー登録</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link th:href="@{/css/register.css}" rel="stylesheet">
</head>
<body>
<script th:inline="javascript">
    window.addEventListener("load", function () {
        var errorMessage = [[${errorMessage}]];
        if (!errorMessage == "") {
            alert(errorMessage);
        }
    }, false);

    //送信時チェック
    function checkValue() {
        var sendMessage = "";

        if (document.form.login_id.value == "") {
            sendMessage += "ログインIDを入力してください\n";
        } else if (document.form.password.value.length > 50) {
            sendMessage += "ログインIDは50文字以内で入力してください\n";
        }

        if (document.form.password.value == "") {
            sendMessage += "パスワードを入力してください\n";
        } else if (document.form.password.value.length > 50) {
            sendMessage += "パスワードは50文字以内で入力してください\n";
        }

        if (document.form.nickname.value == "") {
            sendMessage += "表示用氏名を入力してください\n";
        } else if (document.form.nickname.value.length > 50) {
            sendMessage += "表示用氏名は50文字以内で入力してください";
        }


        if (sendMessage == "") {
            return true;
        } else {
            alert(sendMessage);
            return false;
        }
    }
</script>
<script th:src="@{/js/register.js}"></script>

<form th:action="@{/member/register/result}" method="POST" name="form" onSubmit="return checkValue()">
    <div class="wrap">
        <div class="block">
            <input type="text" id="login_id" name="login_id" class="id"/>
            <label for="login_id">Login ID</label>
        </div>
        <div class="block">
            <input type="password" id="password" name="password" />
            <label for="password">Password</label>
        </div>
        <div class="block">
            <input type="text" id="nickname" name="nickname"/>
            <label for="nickname">Nickname</label>
        </div>
    </div>
    <div style="margin-top: 40px"></div>
    <button type="submit" class="btnn paper paper-raise btnnn">Registration</button>
</form>
</body>
</html>