<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>メニュー</title>
<script>
function toView(to) {
	location.href = "/menu/" + to;
}
</script>
</head>
<body>
	<button onClick="toView('mapView')">地図表示/検索</button>
	<button onClick="toView('acount_edit')">アカウント情報編集</button>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<button onClick="toView('member_manager')">メンバー管理</button>
	</div>

</body>
</html>