<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>map_now place</title>
<style >
h1 {font-weight:bold;}

</style>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3OYplN1nN_Vl7RkS2-V7yMJrMUkxSm3U&libraries=places,geometry"></script>
<script type="text/javascript"  th:inline="javascript">

var datalist = /*[[${datalist}]]*/ '';
var data =  /*[[${data}]]*/ '';
var code = "search.js";

</script>
<script type="text/javascript" src="js/search.js" th:src="@{/js/search.js}"></script>
<script >window.onload = initMap;</script>
</head>
<body>
<h1>地図</h1>
<button   onclick="toView('')">戻る</button> <!-- メニューにもどる -->
<button   onclick="toView('searchView')">検索</button><!-- 検索画面へ -->

<div id="map_sam" style="width:100%; height:400px"></div>
</body>
</html>