<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>shopinfo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" media="all" th:href="@{/css/shopinfo.css}"/>
</head>
<body>
<h1 id="title">飲食店情報</h1>
<script>
	function toView(to) {
		location.href = "/menu/" + to;
	}
</script>
	<button type="button" onclick="toView('mapView')" class="button" id="back">戻る</button>
<div class="main">
  	<div id="shopName"></div>
  	<div class="google-maps">
  		<div id="shopMap"></div>
  	</div>

<script th:inline="javascript">
var placeId = /*[[${placeId}]]*/;

window.onload = function ShowMap(){

	var map;
	var infoWindow;
	var icon = 'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=|0099cc|';

	map = new google.maps.Map(document.getElementById('shopMap'), { // #shopMapに地図を埋め込む
		zoom: 18 // 地図のズームを指定
		});

	var service = new google.maps.places.PlacesService(map);
	service.getDetails({
		placeId: placeId,
		fields: ['name', 'formatted_address', 'geometry', 'url']
	}, function(place, status) {
		if (status == google.maps.places.PlacesServiceStatus.OK) {

			map = new google.maps.Map(document.getElementById('shopMap'), { // #shopMapに地図を埋め込む
				center: place.geometry.location, // 地図の中心を指定
				zoom: 18 // 地図のズームを指定
				});

			var marker = new google.maps.Marker({ // マーカーの追加
				position : place.geometry.location, // マーカーを立てる位置を指定
				map : map, // マーカーを立てる地図を指定
				icon : icon
				});

			google.maps.event.addListener(marker, 'click', clickAction); // マーカ＾をクリックしたときメソッドを呼び出す

			function clickAction(){
				window.open(place.url); // 別画面で地図を表示
				}

			var elementName = document.getElementById('shopName'); // 店の名前を取得し#shopNameに埋め込む
			elementName.innerHTML = place.name;

		}
	});
}
</script>
<div class="footprint-container">
	<div class="footprint-records">
	   	<span>あしあと数：</span>
  		<span th:text="${footprintRecords}"></span>
  		<a th:href="@{'../../menu/foot?place_id=' + ${placeId} }" ><img src="/images/image_css/footprintImage.jpeg" class="iconImage"></a>
  	</div>

		<div id="footprint_list_more" >
			<div th:each="obj : ${footprintDatalist}">
				<div th:unless="${obj.getComment().isBlank()}"  class="footprint">
					<strong th:text="${obj.getMember().getNickname()}" class="comment-name"></strong>
					<p th:text="${obj.getComment()}" class="comment-text"></p>
					<div th:if="${obj.getMember().getLogin_id() == Login_id}" class="comment-button">
						<a th:href="@{'../../menu/foot/edit?footprint_id=' + ${obj.getFootprint_id()} + '&place_id=' + ${placeId}}" ><i class="fa fa-pencil"></i>編集</a>
					</div>
				</div>
			</div>

			<div class="more-buttons">
				<div id="footprint_more_btn">もっと表示する<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
				<div id="footprint_close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
			</div>
		</div>
</div>


<script>
$(function() {
	// 表示させる要素の総数をlengthメソッドで取得
	var $numberListLen = $("#footprint_list_more .footprint").length;

	// デフォルトの表示数
	var defaultNum = 5;
	// ボタンクリックで追加表示させる数
	var addNum = 10;
	// 現在の表示数
	var currentNum = 0;

	if($numberListLen <= defaultNum ){
		$(this).find("#footprint_more_btn").hide();
		$(this).find("#footprint_close_btn").hide();
			return;
	}

	$("#footprint_list_more").each(function() {
		// moreボタンを表示し、closeボタンを隠す
	    $(this).find("#footprint_more_btn").show();
	    $(this).find("#footprint_close_btn").hide();

	    // defaultNumの数だけ要素を表示
	    // defaultNumよりインデックスが大きい要素は隠す
	    $("#footprint_list_more .footprint").each(function(index, element) {
			if(index >= defaultNum) {
				$(this).hide();
			}
		});

	    // 初期表示ではデフォルト値が現在の表示数となる
	    currentNum = defaultNum;

	    // moreボタンがクリックされた時の処理
	    $("#footprint_more_btn").click(function() {
	    	// 現在の表示数に追加表示数を加えていく
	    	currentNum += addNum;

	    	// 現在の表示数に追加表示数を加えた数の要素を表示する
	    	$(this).parent().parent().find(".footprint:lt("+currentNum+")").slideDown();

	    	// 表示数の総数よりcurrentNumが多い=全て表示された時の処理
	    	if($numberListLen <= currentNum) {
	    		// 現在の表示数をデフォルト表示数へ戻す
	    		currentNum = defaultNum;

	    		// インデックス用の値をセット
	    		indexNum = currentNum - 1;

	    		// moreボタンを隠し、closeボタンを表示する
	    		$("#footprint_more_btn").hide();
	    		$("#footprint_close_btn").show();

	    		// closeボタンがクリックされた時の処理
	    		$("#footprint_close_btn").click(function() {
	    			// デフォルト数以降=インデックスがindexNumより多い要素は非表示にする
	    			$(this).parent().parent().find(".footprint:gt("+indexNum+")").slideUp();

	    			// closeボタンを隠し、moreボタンを表示する
	    			$(this).hide();
	    			$("#footprint_more_btn").show();
	    		});
	    	}
	    });
	});
});
</script>

<div class="image-container">
	<div class="image-records">
		<span>画像数：</span>
  		<span th:text="|${imageRecords}件|"></span>
  		<a th:href="@{'../../create/image?place_id=' + ${ placeId }}" ><img src="/images/image_css/imageImage.jpeg" class="iconImage"></a>
  	</div>

	<div id="image_list_more">
			<div th:each="obj : ${imageDatalist}" class="image">
				<img th:src="@{'image/view/' + ${ placeId } + '/' + ${obj.getImage_id()}}">
				<p th:if="${obj.getMember().getLogin_id() == Login_id}" class="image-button">
					<a th:href="@{'./delete/image/' + ${obj.getPlace_id()} + '/' + ${obj.getImage_id()} }"  onclick="return confirm('削除しますか？')"><i class="fa fa-trash-o"></i>削除</a>
				</p>
			</div>

			<div class="more-buttons">
				<div id="image_more_btn">もっと表示する<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
				<div id="image_close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
			</div>
	</div>
</div>


<script>
$(function() {
	// 表示させる要素の総数をlengthメソッドで取得
	var $numberListLen = $("#image_list_more .image").length;

	// デフォルトの表示数
	var defaultNum = 4;
	// ボタンクリックで追加表示させる数
	var addNum = 4;
	// 現在の表示数
	var currentNum = 0;

	if($numberListLen <= defaultNum ){
		$(this).find("#image_more_btn").hide();
		$(this).find("#image_close_btn").hide();
			return;
	}

	$("#image_list_more").each(function() {
		// moreボタンを表示し、closeボタンを隠す
	    $(this).find("#image_more_btn").show();
	    $(this).find("#image_close_btn").hide();

	    // defaultNumの数だけ要素を表示
	    // defaultNumよりインデックスが大きい要素は隠す
	    $("#image_list_more .image").each(function(index, element) {
			if(index >= defaultNum) {
				$(this).hide();
			}
		});


	    // 初期表示ではデフォルト値が現在の表示数となる
	    currentNum = defaultNum;

	    // moreボタンがクリックされた時の処理
	    $("#image_more_btn").click(function() {
			// 現在の表示数に追加表示数を加えていく
			currentNum += addNum;

			// 現在の表示数に追加表示数を加えた数の要素を表示する
			$(this).parent().parent().find(".image:lt("+currentNum+")").slideDown();

			// 表示数の総数よりcurrentNumが多い=全て表示された時の処理
			if($numberListLen <= currentNum) {
				// 現在の表示数をデフォルト表示数へ戻す
				currentNum = defaultNum;
				// インデックス用の値をセット
				indexNum = currentNum - 1;

				// moreボタンを隠し、closeボタンを表示する
				$("#image_more_btn").hide();
				$("#image_close_btn").show();

				// closeボタンがクリックされた時の処理
				$("#image_close_btn").click(function() {
					// デフォルト数以降=インデックスがindexNumより多い要素は非表示にする
					$(this).parent().parent().find(".image:gt("+indexNum+")").slideUp();

					// closeボタンを隠し、moreボタンを表示する
					$(this).hide();
					$("#image_more_btn").show();
	        	});
			}
		});
	});
});
</script>
<script th:src="#{apikey}"></script>
</div>
</body>
</html>