<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>shopinfo</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--  	<link rel="stylesheet" media="all" th:href="@{/css/test.css}"/> -->
<style>
	h1{ font-size :18px;
		font-weight:bold;
		color: gray;
	}

	body{
		font-size:13px;
		color:gray;
		margin:5px 25px;
	}

	pre {
		border: solid 3px #ddd;
		padding: 10px;
	}

	tr {
		margin:5px;
	}

	th {
		padding:5px;
		color:white;
		background:darkgray;
	}

	td {
		padding:5px;
		color:black:
		background:#f0f0f0;
	}

	table.navi {
		width:100%;
		background:white;
	}

	table.navi tr {
		background:white;
	}

	table.navi tr td {
		background:white;
	}

	.err {
		color:red;
	}

	#shopMap {
		width: 780px;
		height: 400px;
	}

	.image {
		position: relative;
 		width: 300px;
	}

	.image p{
		position: absolute;
		right: 0px;
		bottom: 0px;
	}

	.image img{
		object-fit: contain;
		width: 300px;
		height: 300px;
		background-color: #ccc;
		border: 1px solid #ccc;
	}
</style>
</head>
<body>
<h1 th:text="${title}">shopinfo page</h1>
<script>
	function toView(to) {
		location.href = "/menu/" + to;
	}
</script>
	<button type="button" onclick="toView('mapview')">戻る</button>
  	<label id="shopName"></label>
  	<div id="shopMap"></div>

<script th:inline="javascript">
var placeId = /*[[${placeId}]]*/;

window.onload = function ShowMap(){

	var map;
	var infoWindow;

	map = new google.maps.Map(document.getElementById('shopMap'), { // #sampleに地図を埋め込む
		zoom: 19 // 地図のズームを指定
		});

	var service = new google.maps.places.PlacesService(map);
	service.getDetails({
		placeId: placeId,
		fields: ['name', 'formatted_address', 'geometry', 'url']
	}, function(place, status) {
		if (status == google.maps.places.PlacesServiceStatus.OK) {

			map = new google.maps.Map(document.getElementById('shopMap'), { // #sampleに地図を埋め込む
				center: place.geometry.location, // 地図の中心を指定
				zoom: 19 // 地図のズームを指定
				});

			var marker = new google.maps.Marker({ // マーカーの追加
				position: place.geometry.location, // マーカーを立てる位置を指定
				map: map // マーカーを立てる地図を指定
				});

			google.maps.event.addListener(marker, 'click', clickAction); // マーカ＾をクリックしたときメソッドを呼び出す

			function clickAction(){
				window.open(place.url); // 別画面で地図を表示
				}

			var elementName = document.getElementById('shopName'); // 店の名前を取得し#shopNameに埋め込む
			elementName.innerHTML = place.name;

		}
	});
}
</script>
   	<h1>あしあと数：</h1>
  	<p th:text="${footprintRecords}"></p>
  	<a th:href="@{'../foot/' + ${placeId}}" >足跡追加</a>

	<h1>コメント</h1>
		<div id="footprint_list_more">
			<div th:each="obj : ${footprintDatalist}">
				<div th:unless="${obj.getComment().isBlank()}"  class="footprint">
	  			<table>
				<tr>
					<td th:text="${obj.getComment()}"></td>
					<td th:text="${obj.getMember().getNickname()}"></td>
					<td th:if="${obj.getMember().getLogin_id() == Login_id}"><a th:href="@{'../update/footprint/' + ${obj.getFootprint_id()}}">編集</a></td>
				</tr>
				</table>
				</div>
			</div>

			<div id="footprint_more_btn">もっと表示する<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
			<div id="footprint_close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
		</div>


<script>
$(function() {
	// 表示させる要素の総数をlengthメソッドで取得
	var $numberListLen = $("#footprint_list_more .footprint").length;

	// デフォルトの表示数
	var defaultNum = 5;
	// ボタンクリックで追加表示させる数
	var addNum = 10;
	// 現在の表示数
	var currentNum = 0;

	if($numberListLen <= defaultNum ){
		$(this).find("#footprint_more_btn").hide();
		$(this).find("#footprint_close_btn").hide();
			return;
	}

	$("#footprint_list_more").each(function() {
		// moreボタンを表示し、closeボタンを隠す
	    $(this).find("#footprint_more_btn").show();
	    $(this).find("#footprint_close_btn").hide();

	    // defaultNumの数だけ要素を表示
	    // defaultNumよりインデックスが大きい要素は隠す
	    $("#footprint_list_more .footprint").each(function(index, element) {
			if(index >= defaultNum) {
				$(this).hide();
			}
		});

	    // 初期表示ではデフォルト値が現在の表示数となる
	    currentNum = defaultNum;

	    // moreボタンがクリックされた時の処理
	    $("#footprint_more_btn").click(function() {
	    	// 現在の表示数に追加表示数を加えていく
	    	currentNum += addNum;

	    	// 現在の表示数に追加表示数を加えた数の要素を表示する
	    	$(this).parent().find(".footprint:lt("+currentNum+")").slideDown();

	    	// 表示数の総数よりcurrentNumが多い=全て表示された時の処理
	    	if($numberListLen <= currentNum) {
	    		// 現在の表示数をデフォルト表示数へ戻す
	    		currentNum = defaultNum;

	    		// インデックス用の値をセット
	    		indexNum = currentNum - 1;

	    		// moreボタンを隠し、closeボタンを表示する
	    		$("#footprint_more_btn").hide();
	    		$("#footprint_close_btn").show();

	    		// closeボタンがクリックされた時の処理
	    		$("#footprint_close_btn").click(function() {
	    			// デフォルト数以降=インデックスがindexNumより多い要素は非表示にする
	    			$(this).parent().find(".footprint:gt("+indexNum+")").slideUp();

	    			// closeボタンを隠し、moreボタンを表示する
	    			$(this).hide();
	    			$("#footprint_more_btn").show();
	    		});
	    	}
	    });
	});
});
</script>


<h1>画像数：</h1>
  	<p th:text="${imageRecords}"></p>
  	<a th:href="@{'../create/image/' + ${ placeId }}" >画像追加</a>

	<h1>画像</h1>
	<div id="image_list_more">
	  	<table>
	  	<tr>
			<td th:each="obj : ${imageDatalist}">
				<div class="image">
					<img th:src="|/images/${obj.getPlace_id()}/${obj.getPlace_id()}_${obj.getImage_id()}.jpg|" > <!-- LunchMap/src/main/resources/static/images/{place_id}/[place_id]_[image_id].jpg -->
					<p th:if="${obj.getMember().getLogin_id() == Login_id}"><a th:href="@{'./delete/image/' + ${obj.getPlace_id()} + '/' + ${obj.getImage_id()}}" class="deleteLink" >削除</a></p>
				</div>
			</td>
		</tr>
		</table>

	<div id="image_more_btn">もっと表示する<i class="fa fa-chevron-down" aria-hidden="true"></i></div>
	<div id="image_close_btn">表示数を戻す <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
	</div>

<script>
$(function() {
	// 表示させる要素の総数をlengthメソッドで取得
	var $numberListLen = $("#image_list_more .image").length;

	// デフォルトの表示数
	var defaultNum = 5;
	// ボタンクリックで追加表示させる数
	var addNum = 10;
	// 現在の表示数
	var currentNum = 0;

	if($numberListLen <= defaultNum ){
		$(this).find("#image_more_btn").hide();
		$(this).find("#image_close_btn").hide();
			return;
	}

	$("#image_list_more").each(function() {
		// moreボタンを表示し、closeボタンを隠す
	    $(this).find("#image_more_btn").show();
	    $(this).find("#image_close_btn").hide();

	    // defaultNumの数だけ要素を表示
	    // defaultNumよりインデックスが大きい要素は隠す
	    $("#image_list_more .image").each(function(index, element) {
			if(index >= defaultNum) {
				$(this).hide();
			}
		});


	    // 初期表示ではデフォルト値が現在の表示数となる
	    currentNum = defaultNum;

	    // moreボタンがクリックされた時の処理
	    $("#image_more_btn").click(function() {
			// 現在の表示数に追加表示数を加えていく
			currentNum += addNum;

			// 現在の表示数に追加表示数を加えた数の要素を表示する
			$(this).parent().find(".image:lt("+currentNum+")").slideDown();

			// 表示数の総数よりcurrentNumが多い=全て表示された時の処理
			if($numberListLen <= currentNum) {
				// 現在の表示数をデフォルト表示数へ戻す
				currentNum = defaultNum;
				// インデックス用の値をセット
				indexNum = currentNum - 1;

				// moreボタンを隠し、closeボタンを表示する
				$("#image_more_btn").hide();
				$("#image_close_btn").show();

				// closeボタンがクリックされた時の処理
				$("#image_close_btn").click(function() {
					// デフォルト数以降=インデックスがindexNumより多い要素は非表示にする
					$(this).parent().find(".image:gt("+indexNum+")").slideUp();

					// closeボタンを隠し、moreボタンを表示する
					$(this).hide();
					$("#image_more_btn").show();
	        	});
			}
		});
	});
});
</script>
<script th:src="#{apikey}"></script>
</body>
</html>